<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Tea Time | Create Account</title>
        <link rel="stylesheet" href="css/style.css"/>

        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main>
            <navmenu></navmenu>


            <h1>Create an Account</h1>

            <div class="content">
                <p>Please provide your details below.</p>
                <fieldset>

                    <legend>Account Details</legend>

                    <form @submit.prevent="createAccount()"/>

                    <label>Username:</label><input type="text" v-model="username"/>
                    <label>First Name</label><input type="text" v-model="firstName"/>
                    <label>Last Name</label><input type="text" v-model="surname">
                    <label>Email:</label><input type="email" v-model="emailAddress"/>
                    <label>Address:</label><textarea v-model="shippingAddress"></textarea>
                    <label>Password:</label><input type="password" v-model="password"/>

                    <button type="submit">Create Account</button>
                    </form>

                </fieldset>
            </div>
        </main>
        <script type="module" src="js/create-account.js"></script>
    </body>
</html>
