<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Tea Time | Sign In</title>
        <link rel="stylesheet" href="css/style.css"/>

        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>

    </head>
    <body>
        <main>
            <navmenu></navmenu>

            <h1>Sign In</h1>

            <div class ="content">
                <p>Please sign in to continue.</p>

                <fieldset>

                    <legend>Sign In</legend>

                    <form @submit.prevent="signIn()">
                        <label>Username:</label><input type="text" v-model="customer.username"/>
                        <label>Password:</label><input type="password" v-model="customer.password"/>

                        <button type="submit">Sign In</button>
                    </form>

                </fieldset>

                <p>If you don't have an account then you can <a href="create-account.html">create one</a>.</p>
            </div>
        </main>
        <script type="module" src="js/sign-in.js"></script>
    </body>
</html>
